* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background: url("https://i.redd.it/art-someone-told-me-to-draw-ditto-with-a-45-and-someone-v0-k96etk0vx4ra1.png?width=2048&format=png&auto=webp&s=2b5c164f6e8097f019601a5704d09c4af32f0d1b");
  background-size: cover;
  background-repeat: no-repeat;
  /* transform: scaleX(-1); */

}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}



.dittoimg {
  width: 50%;
  margin-top: -30vh;
}